<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Detalhes do Aluno</title>
</head>
<body>
  <h1>Detalhes do Aluno</h1>
  <ul>
    <li><strong>ID:</strong> <%= aluno.id %></li>
    <li><strong>Nome:</strong> <%= aluno.nome %></li>
    <li><strong>Email:</strong> <%= aluno.email %></li>
  </ul>
 
  <a href="/alunos">Voltar para lista</a>
</body>
</html>
 